*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  /* width: 1350px; */
  /* height: 2000px; */
  /* margin: auto; */

}
.big-menu{git
  width: 900px;
  height: 70px;
  position: fixed;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  margin: auto;
  overflow: hidden;
  background-color: aliceblue;
  margin-left: 15%;
  z-index: 1;
}
.menu{
  width: 100%;
  height: 70px;
  margin: auto;
  overflow: hidden;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.774), white);
}
.menu ul{
  list-style-type: none;
}
.menu ul li{
  float: left;
  margin-left: 75px;
}
.menu ul li a{
  text-decoration: none;
  display: block;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.menu ul li a:hover{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: purple;
}



.home{
  width: 100%;
  height: 750px;
  background: linear-gradient(rgba(128, 0, 128, 0.849), rgba(0, 0, 255, 0.623));
}
.container1{
  width: 90%;
  height: 85%;
  margin: auto;
  overflow: hidden;
}
.text-img{
  width: 100%;
  height: 80%;
  margin-top: 10%;
}
.text{
  width: 60%;
  height: 100%;
  float: left;
}
.text button{
  width: 200px;
  height: 60px;
  background-color: rgb(0, 255, 242);
  border-radius: 50px;
  border: none;
  margin-left: 29%;
  margin-top: 1%;
}
.text button a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.text button:hover{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.text h1{
  font-size: 50px;
  color: white;
  margin-left: 10%;
  margin-top: 30%;
}
.text h3{
  font-size: 30px;
  color: white;
  margin-left: 15%;
}

.img{
  width: 40%;
  height: 100%;
  background-color: white;
  float: left;
  border-radius: 100%;
  margin-top: -1%;
}
.img2{
  width: 95%;
  height: 95%;
  float: left;
  border-radius: 100%;
  margin-top: 2.5%;
  margin-left: 2.5%;
}
.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}



#about{
  width: 100%;
  height: 750px;
  background: linear-gradient(rgba(0, 0, 255, 0.623), rgba(128, 0, 128, 0.849));
}
.container2{
  width: 90%;
  height: 95%;
  margin: auto;
  overflow: hidden;
}
.big-box{
  width: 100%;
  height: 90%;
  margin-top: 10%;
}
.text-about{
  width: 100%;
  height: 10%;
}
.text-about h1{
  color: white;
  font-size: 50px;
  margin-left: 12.5%;
}
.img2-text2{
  width: 100%;
  height: 90%;
}
.img-two{
  width: 35%;
  height: 70%;
  border-radius: 100%;
  margin-left: 5%;
  float: left;
}
.img-two img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  background-repeat: no-repeat;
}
.text-two{
  width: 55%;
  height: 100%;
  float: left;
  margin-left: 5%;
}
.text-three{
  width: 100%;
  height: 30%;
}
.text-three p{
  font-size: 25px;
  color: white;
}
.text-four{
  width: 100%;
  height: 40%;
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
}
.four-box{
  width: 48%;
  height: 50%;
}
.four-box i{
  font-size: 60px; 
}
.four-box p{
  margin-left: 20%;
  font-size: 30px;
  font-weight: bold;
  margin-top: -17.5%;
  color: white;
}



.project{
  width: 100%;
  height: 750px;
  background: linear-gradient(rgba(128, 0, 128, 0.849), rgba(0, 0, 255, 0.623));
}
#container3{
  width: 90%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
.big-project{
  width: 100%;
  height: 85%;
  margin-top: 6%;
}
.text-project{
  width: 100%;
  height: 10%
}
.text-project h1{
  color: white;
  font-size: 50px;
  text-align: center;
}
.exp{
  width: 100%;
  height: 70%;
}
.one-box{
  width: 32%;
  height: 100%;
  float: left;
}
.img12 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.two-box{
  width: 32%;
  height: 100%;
  float: left;
  border-radius: 5%;
  margin-left: 2%;
}
.two-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.tree-box{
  width: 32%;
  height: 100%;
  float: left;
  margin-left: 2%;
}
.tree-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.img12{
  width: 100%;
  height: 49%;
  margin-top: 1%;
  border-radius: 5%;
}
.contact{
  width: 100%;
  height: 750px;
  background: linear-gradient(rgba(0, 0, 255, 0.623), rgba(128, 0, 128, 0.849));
}
#container4{
  width: 90%;
  height: 80%;
  margin: auto;
  overflow: hidden;
}
.contact2{
  width: 100%;
  height: 13%;
  margin: auto;
  overflow: hidden;
}
.contact3{
  width: 100%;
  height: 67%;
  margin: auto;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.301);
}
.contact3 h1{
  font-size: 40px;
  color: white;
  margin-left: 5%;
}
.contact3 input{
  width: 70%;
  height: 50px;
  margin-left: 5%;
  margin-top: 10px;
  font-size: 20px;
}
.contact3 ::placeholder{
  font-size: 20px;
}
.contact3 textarea{
  margin-left: 5%;
  width: 70%;
  height: 150px;
  margin-top: 10px;
  font-family: "times new roman";
  font-size: 20px;
}

.submit{
  width: 100%;
  height: 20%;
  margin: auto;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 10px;
}
.submit button{
  width: 120px;
  height: 50px;
  border-radius: 15px;
  background-color: purple;
  border: none;
}
.submit a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.submit button:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.submit a:hover{
  color: aqua;
}
.contact4{
  width: 100%;
  height: 20%;
}
.last{
  width: 60%;
  height: 100%;
  float: left;
}
.last p{
  color: white;
  margin-left: 10%;
  font-size: 25px;
}
.last2{
  width: 25%;
  height: 100%;
  float: right;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.logo-icon{
  margin-top: 20px;
  width: 20%;
  height: 52.5%;
}
.logo-icon img{
  width: 100%;
  height: 90%;
  object-fit: cover;
}
@keyframes floadImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.img {
  animation: floadImage 4s ease-in-out infinite;
}